absl-py
aiohttp
astunparse
attrs
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
deepface
flatbuffers
frozenlist
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
keras
keras-preprocessing
Markdown
MarkupSafe
mkl-service
mkl-fft
mkl-random
multidict
numpy
oauthlib
opt-einsum
packaging
protobuf
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
PySocks
requests
requests-oauthlib
rsa
scipy
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
tf-keras
typing_extensions
urllib3
Werkzeug
wrapt
Flask
spotipy
transformers
opencv-python
